{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Developex</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/html" id="error">
            <h2>Error:</h2>
    </script>

    <script type="text/html" id="info">
        <% if (card_details !== null) {%>
                <h2>Card balance:</h2>
                <h4>Time: <%- new Date()%></h4>
                <h4>Card: <%- card_details.card %></h4>
                <h4>Cash: <%- card_details.amount%></h4>
                <h4>Money left: <%- card_details.money_amount%></h4>
        <% } else { %>
            <h1 class="loading">Loading...</h1>
        <% } %>
    </script>

    <script type="text/html" id="balance">
        <% if (card_details !== null) {%>
                <h2>Card balance:</h2>
                <h4>Time: <%- new Date()%></h4>
                <h4>Card: <%- card_details.card %></h4>
                <h4>Money left: <%- card_details.money_amount%></h4>
        <% } else { %>
            <h1 class="loading">Loading...</h1>
        <% } %>
    </script>

    <script type="text/html" id="home-template">
                <h2>Operations:</h2>
                <a href="#card_details" class="button">Balance</a>
                <a href="#get_cash" class="button">Get cash</a>
    </script>

   <script type="text/html" id="get-cash">
       <form action="" method="post">
           <label for="id-cash-amount">Money amount:</label>
           <input id="id-cash-amount" type="text" name="amount_delta"
                maxlength="4" pattern="[0-9]{1,4}" required />
           <button type="submit">Get cash</button>
       </form>
   </script>


    <script type="text/html" id="login-template">
        <div id="wrap">
        <form action="#" method="post">
            <div class="fieldset-standard">
            <fieldset>
            <label for="id_username">Card number</label>
            <input id="id_username" class="keyboard-num" type="text" name="username"
                maxlength="16" pattern="[0-9]{13,16}" required />
            <label for="id_password">Pin</label>
            <input id="id_password" type="password"
                name="password" maxlength="4" required />
            <button type="submit">OK</button>
                </fieldset>
                </div>
        </form>

        </div>
    </script>

    <script type="text/html" id="header-template">
        <span class="title">Cashmachine</span>
        <% if (authenticated ) { %>
            <nav>
                <a href="/">Back</a>
                <a href="#" class="logout button">Logout</a>
            </nav>
        <% } %>
    </script>

</head>
<body>
    <div id="content"></div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>
    <script id="config" type="text/json">
        {
            "models": {},
            "collections": {},
            "views": {},
            "router": null,
            "apiRoot": "{% url 'api-root' %}",
            "apiLogin": "{% url 'api-token' %}"
        }
    </script>
    <script src="{% static 'js/virtual_keyboard.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/models.js' %}"></script>
    <script src="{% static 'js/views.js' %}"></script>
    <script src="{% static 'js/router.js' %}"></script>
</body>
</html>